// Written by Luke Martin and Aayush Paul

/* Styling for background */
body {
	background-color: #eff1f2; 
	margin: 0; 
}

/* Styling for spanner tags */
.prereqSequence {
	color: #90ee90; /* light green */
}

.prereq {
	color: #008000;  /* green */
}

.coreqSequence {
	color: #ffc0cb; /* pink */
}

.coreq {
	color: #800080; /* purple */
}

.postreqSequence {
	color: #add8e6; /* light blue */
}

.postreq {
	color: #0000ff; /* blue */
}

/* ------------------------------- */

/* Table styling */
table {
	width: 90%; 

	/* Merge borders to make the table look more cohesive. */
	border-collapse: collapse;

	/* Adjust table to be in page center. */
	margin-left: auto;
	margin-right: auto;

	border-radius: 4px;
	overflow: hidden; 
}

th, td {
	/* table elements are enclosed with soft gray border to make them stand out. */
	border: 1px solid #cfd4d8;

	padding: 12px;

	text-align: center;
	vertical-align: middle;
}

th {
  /* Official OSU Gray */
  background-color: #d4284b;
  color: white;
  font-size: 1.1em; /* Makes header text slightly bigger */
}

/* ------------------------------ */
