/* Styling for spanner tags */
.prereqSequence {
	color: #90ee90; /* light green */
}

.prereq {
	color: #008000;  /* green */
}

.coreqSequence {
	color: #ffc0cb; /* pink */
}

.coreq {
	color: #800080; /* purple */
}

.postreqSequence {
	color: #add8e6; /* light blue */
}

.postreq {
	color: #0000ff; /* blue */
}

/* ------------------------------- */

/* Table styling */
table {
	table-layout: fixed;

	/* Merge borders to make the table look more cohesive. */
	border-collapse: collapse;

	/* Adjust table to be in page center. */
	margin-left: auto;
	margin-right: auto;
}

th, td {
	/* table elements are enclosed with borders to make them stand out. */
	border: 1px solid;
}

/* ------------------------------ */
