---
title: mainPage
---

<!-- Main page fragment. Written by Luke Martin and Aayush Paul.-->

<div class="header-name">
	<h1> B.S. CSE Curriculum Map - Individualized Specialization Option (AY 2025-26)</h1>
</div>

<div class="preamble">
	<p>
		The curriculum sequence below presents an ideal semester-by-semester schedule for students pursuing a bachelor's degree in Computer Science and Engineering, with the individualized specialization option. Students are encouraged to consult with their accademic advisor(s) to tailor their schedules to fit their specific educational goals and needs.
	</p>

	<!-- span tags change text color to reflect colors used in table. -->
	<p>
		Hover over a course in the table to highlight its <span class="prereqSequence">course prerequisite sequence</span>,
		<span class="prereq">course prerequisites</span>,
		<span class="coreq">course corequisites</span>, <span class="postreqSequence">course postrequisite sequence</span>, and
		<span class="postreq">course postrequisites</span>.
	</p>
</div>

<!-- Course information displayed in a nested table. -->
<!-- each cell represents a course and has tags corresponding to Abhi's js code. -->

<div class="mainContent">
<table class="primaryTable">
	<thead>
		<tr>
			<th> First Year </th>
			<th> Second Year </th>
			<th> Third Year </th>
			<th> Fourth Year </th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td>
				<!-- sub-table for first year semesters. -->
				<table class="secondaryTable">
					<thead>
						<tr>
							<th> Fall </th>
							<th> Spring </th>
						</tr>
					</thead>
					
					<tbody>
						<tr>
							<td class="course" id="ENGR 1100"> <a href="https://syllabi.engineering.osu.edu/syllabi/engr_1100.15h"> ENGR 1100 </a> </td>
							<td class="course" id ="CSE 2221"> <a href="https://syllabi.engineering.osu.edu/syllabi/cse_2221"> CSE 2221 </a> </td>
						</tr>
						<tr>
							<td class="course" id="ENGR 1181"> <a href="https://syllabi.engineering.osu.edu/syllabi/engr_1181.01"> ENGR 1181 </a> </td>
							<td class="course" id="ENGR 1182"> <a href="https://syllabi.engineering.osu.edu/syllabi/engr_1182.01"> ENGR 1182 </a> </td>
						</tr>
						<tr>
							<td class="course" id="MATH 1151"> <a href="https://math.osu.edu/courses/math-1151"> MATH 1151 </a> </td>
							<td class="course" id="MATH 1172"> <a href="https://math.osu.edu/courses/math-1172"> MATH 1172 </a> </td>
						</tr>
						<tr>
							<td class="course" id="PHYSICS 1250"> <a href="https://physics.osu.edu/courses/physics-1250"> PHYSICS 1250 </a> </td>
							<td class="course" id="GE"> <a href="https://ugeducation.osu.edu/academics/general-education-ge"> GE </a> </td>
						</tr>
						<tr>
							<td class="course" id="CSE 1223"> <a href="https://syllabi.engineering.osu.edu/syllabi/cse_1223"> CSE 1223 </a> </td>
							<td class="course" id="ENGLISH 1110"> <a href="https://english.osu.edu/writing-programs/overview"> ENGLISH 1110 </a> </td>
						</tr> 
					</tbody>
				</table>
			</td>

			<td>
				<!-- sub-table for second year semesters. -->
				<table class="secondaryTable">
					<thead>
						<tr>
							<th> Fall </th>
							<th> Spring </th>
						</tr>
					</thead>

					<tbody>
						<tr>
							<td class="course" id="CSE 2231"> <a href="https://syllabi.engineering.osu.edu/syllabi/cse_2231"> CSE 2231 </a> </td>
							<td class="course" id="CSE 2331"> <a href="https://syllabi.engineering.osu.edu/syllabi/cse_2331"> CSE 2331 </a> </td>
						</tr>
						<tr>
							<td class="course" id="CSE 2321"> <a href="https://syllabi.engineering.osu.edu/syllabi/cse_2321"> CSE 2321 </a> </td>
							<td class="course" id="CSE 2421"> <a href="https://syllabi.engineering.osu.edu/syllabi/cse_2421"> CSE 2421 </a> </td>
						</tr>
						<tr>
							<td class="course" id="STAT 3470"> <a href="https://stat.osu.edu/courses/stat-3470.01"> STAT 3470 </td>
							<td class="course" id="ECE 2060"> <a href="https://syllabi.engineering.osu.edu/syllabi/ece_2060"> ECE 2060 </td>
						</tr>
						<tr>
							<td class="course" id="MATH/SCIENCE ELECTIVE"> MATH/SCIENCE ELECTIVE </td>
							<td class="course" id="MATH 3345"> <a href="https://math.osu.edu/courses/math-3345"> MATH 3345 </a> </td>
						</tr>
						<tr>
							<td class="course" id="GE"> <a href="https://ugeducation.osu.edu/academics/general-education-ge"> GE </a> </td>
							<td class="course" id="GE"> <a href="https://ugeducation.osu.edu/academics/general-education-ge"> GE </a> </td>
						</tr>
					</tbody>
				</table>
			</td>

			<td>
				<!-- sub-table for third year semesters. -->
				<table class="secondaryTable">
					<thead>
						<tr>
							<th> Fall </th>
							<th> Spring </th>
						</tr>
					</thead>

					<tbody>
						<tr>
							<td class="course" id="CSE 2431"> <a href="https://syllabi.engineering.osu.edu/syllabi/cse_2431"> CSE 2431 </a> </td>
							<td class="course" id="CSE 32X1"> CSE 32X1 </td>
						</tr>
						<tr>
							<td class="course" id="CSE 390X"> CSE 390X </td>
							<td class="course" id="CSE 34X1"> CSE 34X1 </td>
						</tr>
						<tr>
							<td class="course" id="ECE 2020"> <a href="https://syllabi.engineering.osu.edu/syllabi/ece_2020"> ECE 2020 </a> </td>
							<td class="course" id="CSE 35X1"> CSE 35X1 </td>
						</tr>
						<tr>
							<td class="course" id="MATH 2568"> <a href="https://math.osu.edu/courses/math-2568"> MATH 2568 </a> </td>
							<td class="course" id="CSE 2501"> <a href="https://syllabi.engineering.osu.edu/syllabi/cse_2501"> CSE 2501 </a> </td>
						</tr>
						<tr>
							<td class="course" id="ENGR 1100"> <a href="https://syllabi.engineering.osu.edu/syllabi/engr_1100.15h"> ENGR 1100 </a></td>
							<td class="course" id="GE"> <a href="https://ugeducation.osu.edu/academics/general-education-ge"> GE </a> </td>
						</tr>
						<tr>
							<td class="course" id="GE"> <a href="https://ugeducation.osu.edu/academics/general-education-ge"> GE </a> </td>
							<td class="course" id="MATH/SCIENCE ELECTIVE"> MATH/SCIENCE ELECTIVE </td>
						</tr>
					</tbody>
				</table>
			</td>

			<td>
				<!-- sub-table for fourth year semesters. -->
				<table class="secondaryTable">
					<thead>
						<tr>
							<th> Fall </th>
							<th> Spring </th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="course" id="CSE 3341"> <a href"https://syllabi.engineering.osu.edu/syllabi/cse_3341"> CSE 3341 </a> </td>
							<td class="course" id="CSE 591X"> CSE 591X </td>
						</tr>
						<tr>
							<td class="course" id="TECHNICAL ELECTIVE"> TECHNICAL ELECTIVE </td>
							<td class="course" id="TECHNICAL ELECTIVE"> TECHNICAL ELECTIVE </td>
						</tr>
						<tr>
							<td class="course" id="TECHNICAL ELECTIVE"> TECHNICAL ELECTIVE </td>
							<td class="course" id="TECHNICAL ELECTIVE"> TECHNICAL ELECTIVE </td>
						</tr>
						<tr>
							<td class="course" id="TECHNICAL ELECTIVE"> TECHNICAL ELECTIVE </td>
							<td class="course" id="TECHNICAL ELECTIVE"> TECHNICAL ELECTIVE </td>
						</tr>
						<tr>
							<td class="course" id="GE"> <a href="https://ugeducation.osu.edu/academics/general-education-ge"> GE </a> </td>
							<td class="course" id="GE"> <a href="https://ugeducation.osu.edu/academics/general-education-ge"> GE </a> </td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		

	</tbody>
</table>

<footer class="footer">
  <p>Created by Group 5 | © 2025</p>
</footer>

</div>

