---
title: mainPage
---

<div class="header-name">
	<h1> Courses and Prerequisites </h1>
</div>

<!-- Course information displayed in a nested table. -->
<!-- each cell represents a class and has tags corresponding to Abhi's js code. -->
<!-- TODO: add tags -->

<div class="mainContent">
<table class="primaryTable">
	<thead>
		<tr>
			<th> First Year </th>
			<th> Second Year </th>
			<th> Third Year </th>
			<th> Fourth Year </th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td>
				<!-- sub-table for first year semesters. -->
				<table class="secondaryTable">
					<thead>
						<tr>
							<th> Fall </th>
							<th> Spring </th>
						</tr>
					</thead>
					
					<tbody>
						<tr>
							<td> ENGR 1100 </td>
							<td> CSE 2221 </td>
						</tr>
						<tr>
							<td> ENGR 1181 </td>
							<td> ENGR 1182 </td>
						</tr>
						<tr>
							<td> MATH 1151 </td>
							<td> MATH 1172 </td>
						</tr>
						<tr>
							<td> PHYSICS 1250 </td>
							<td> GE </td>
						</tr>
						<tr>
							<td> CSE 1223 </td>
							<td> GE </td>
						</tr>
					<tbody>
				</table>
			</td>

			<td>
				<!-- sub-table for second year semesters. -->
				<table class="secondaryTable">
					<thead>
						<tr>
							<th> Fall </th>
							<th> Spring </th>
						</tr>
					</thead>

					<tbody>
						<tr>
							<td> CSE 2231 </td>
							<td> CSE 2331 </td>
						</tr>
						<tr>
							<td> CSE 2321 </td>
							<td> CSE 2421 </td>
						</tr>
						<tr>
							<td> STAT 3470 </td>
							<td> ECE 2060 </td>
						</tr>
						<tr>
							<td> MATH/SCIENCE ELECTIVE </td>
							<td> MATH 3345 </td>
						</tr>
						<tr>
							<td> GE </td>
							<td> GE </td>
						</tr>
					</tbody>
				</table>
			</td>

			<td>
				<!-- sub-table for third year semesters. -->
				<table class="secondaryTable">
					<thead>
						<tr>
							<th> Fall </th>
							<th> Spring </th>
						</tr>
					</thead>

					<tbody>
						<tr>
							<td> CSE 2431 </td>
							<td> CSE 32X1 </td>
						</tr>
						<tr>
							<td> CSE 390X </td>
							<td> CSE 34X1 </td>
						</tr>
						<tr>
							<td> ECE 2020 </td>
							<td> CSE 35X1 </td>
						</tr>
						<tr>
							<td> MATH 2568 </td>
							<td> CSE 2501 </td>
						</tr>
						<tr>
							<td> ENGR 1100 </td>
							<td> GE </td>
						</tr>
						<tr>
							<td> GE </td>
							<td> MATH/SCIENCE ELECTIVE </td>
						</tr>
					</tbody>
				</table>
			</td>

			<td>
				<!-- sub-table for fourth year semesters. -->
				<table class="secondaryTable">
					<thead>
						<tr>
							<th> Fall </th>
							<th> Spring </th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td> CSE 3341 </td>
							<td> CSE 591X </td>
						</tr>
						<tr>
							<td> TECHNICAL ELECTIVE </td>
							<td> TECHNICAL ELECTIVE </td>
						</tr>
						<tr>
							<td> TECHNICAL ELECTIVE </td>
							<td> TECHNICAL ELECTIVE </td>
						</tr>
						<tr>
							<td> TECHNICAL ELECTIVE </td>
							<td> TECHNICAL ELECTIVE </td>
						</tr>
						<tr>
							<td> GE </td>
							<td> GE </td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
</div>
